.page {
	padding: 60px 0;
}

.bannerCon {}

.b1 {
	gap: 33px;
}

.bSection {}

.usersCon {
	border-radius: 20px;
	background: rgba(13, 97, 248, 0.05);
	border: none;
	padding: 4px 14px 4px 4px;
	gap: 10px;
}

.bText {
	color: #0A0D14;
	font-family: var(--font-inter);
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
	/* 125% */
	letter-spacing: -0.27px;
}

.bMiniText {
	color: #000;
	font-family: var(--font-inter);
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 141.176% */
	letter-spacing: -0.27px;
}

.bBtnCon {}

.bLink {
	border-radius: 12px;
	border: 1px solid #0D61F8;
	background: #FFF;
	padding: 13px 20px;
	color: #0D61F8;
	text-align: center;
	font-family: var(--font-inter);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
	letter-spacing: -0.27px;
}

.shield {
	width: 24px;
	height: 23.04px;
}

.bPrivacy {
	color: #868C98;
	font-family: var(--font-inter);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
	letter-spacing: -0.27px;
}

.b2 {
	padding: 20px 0;
	width: 560px;
	border-radius: 24px;
	border: 1px solid #E2E4E9;
	background: rgba(13, 97, 248, 0.05) url('./../assets/img/base.png');
	background-position: center 30px;
	background-size: 80% auto;
	background-repeat: no-repeat;
	padding: 70px 0 0;
}

.baseImage {
	width: 70%;
	height: auto;
}

/* --------------------------- Media Queries ------------------------- */
/* iPad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {}

/* iPad Pro */
@media only screen and (max-width: 1024px) {}

/* iPad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {}

/* Special (Range of iPad Pro - iPad Mini)*/
@media only screen and (max-width: 1024px) and (min-width: 835px) {
	.b2 {
		width: 100%;
	}
}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {}

/* Small device */
@media only screen and (max-width: 834px) {
	.page {
		padding: 40px 0;
	}

	.bannerCon {
		justify-content: center !important;
		gap: 20px !important;
	}

	.b1 {
		gap: 20px !important;
	}

	.bText {
		font-size: 40px !important;
		line-height: 60px !important;
	}

	.bText,
	.bMiniText {
		text-align: center !important;
	}
}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.bText {
		font-size: 30px !important;
		line-height: 40px !important;
	}

	.page {
		padding: 20px 0;
	}

	.bMiniText {
		font-size: 14px !important;
	}
}

/* Super Tiny device */
@media only screen and (max-width: 360px) {}