.footer {
	background: var(--blue);
	padding: 10px 0 15px;
}

.aetherfi {
	color: #fff !important;
	font-family: var(--font-inter);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
}

.rights {
	color: #fff !important;
	font-family: var(--font-inter);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 110%;
}

/* --------------------------- Media Queries ------------------------- */
/* Special */
@media only screen and (max-width: 1024px) and (min-width: 835px) {}

/* Mobile landscape */
@media only screen and (max-width: 950px) and (orientation: landscape) {}

/* Ipad Mini landscape */
@media only screen and (max-width: 1024px) and (orientation: landscape) {}

/* Ipad Air landscape */
@media only screen and (max-width: 1180px) and (orientation: landscape) {}

/* Small device */
@media only screen and (max-width: 834px) {}

/* Tiny device */
@media only screen and (max-width: 480px) {
	.inner {
		justify-content: center !important;
		gap: 10px !important;
	}
}